integromat_freshdesk_workflows/notion_freshdesk_update_priority_week.json
{
    "name": "Notion >> FreshDesk: Update Priority Week",
    "flow": [
        {
            "id": 1,
            "module": "freshdesk:findTickets",
            "version": 1,
            "parameters": {
                "teamId": 2458,
                "__IMTCONN__": 10434
            },
            "mapper": {
                "limit": "5000",
                "search": [
                    [
                        {
                            "a": "status",
                            "b": "2",
                            "o": ":"
                        }
                    ],
                    [
                        {
                            "a": "status",
                            "b": "3",
                            "o": ":"
                        }
                    ],
                    [
                        {
                            "a": "status",
                            "b": "6",
                            "o": ":"
                        }
                    ],
                    [
                        {
                            "a": "status",
                            "b": "7",
                            "o": ":"
                        }
                    ],
                    [
                        {
                            "a": "status",
                            "b": "8",
                            "o": ":"
                        }
                    ],
                    [
                        {
                            "a": "status",
                            "b": "9",
                            "o": ":"
                        }
                    ],
                    [
                        {
                            "a": "status",
                            "b": "10",
                            "o": ":"
                        }
                    ]
                ]
            },
            "metadata": {
                "designer": {
                    "x": 0,
                    "y": 0
                },
                "restore": {
                    "parameters": {
                        "__IMTCONN__": {
                            "data": {
                                "scoped": "true",
                                "connection": "freshdesk"
                            },
                            "label": "Embrace.IO FreshDesk"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "__IMTCONN__",
                        "type": "account:freshdesk",
                        "label": "Connection",
                        "required": true
                    }
                ],
                "expect": [
                    {
                        "name": "search",
                        "type": "filter",
                        "label": "Filter",
                        "options": {
                            "store": [
                                {
                                    "label": "Agent ID",
                                    "value": "agent_id"
                                },
                                {
                                    "label": "Group ID",
                                    "value": "group_id"
                                },
                                {
                                    "label": "Priority",
                                    "value": "priority"
                                },
                                {
                                    "label": "Status",
                                    "value": "status"
                                },
                                {
                                    "label": "Tag",
                                    "value": "tag"
                                },
                                {
                                    "label": "Type",
                                    "value": "type"
                                },
                                {
                                    "label": "Due by",
                                    "value": "due_by"
                                },
                                {
                                    "label": "Fr due by",
                                    "value": "fr_due_by"
                                },
                                {
                                    "label": "Created at",
                                    "value": "created_at"
                                },
                                {
                                    "label": "Updated at",
                                    "value": "updated_at"
                                }
                            ],
                            "operators": [
                                {
                                    "label": "Any Value",
                                    "options": [
                                        {
                                            "label": "Equal to",
                                            "value": ":"
                                        },
                                        {
                                            "label": "Greater than",
                                            "value": ":>"
                                        },
                                        {
                                            "label": "Less than",
                                            "value": ":<"
                                        }
                                    ]
                                }
                            ]
                        },
                        "required": true
                    },
                    {
                        "name": "limit",
                        "type": "uinteger",
                        "label": "Limit"
                    }
                ]
            }
        },
        {
            "id": 2,
            "module": "notion:searchObjects1",
            "version": 1,
            "parameters": {
                "__IMTCONN__": 10433
            },
            "filter": {
                "name": "Assigned Team Tickets",
                "conditions": [
                    [
                        {
                            "a": "{{1.custom_fields.cf_assigned_team}}",
                            "o": "exist"
                        }
                    ]
                ]
            },
            "mapper": {
                "limit": "5000",
                "filter": [
                    [
                        {
                            "a": "Ticket ID |&*^%$#@| number",
                            "b": "{{1.id}}",
                            "o": "number:equals"
                        }
                    ]
                ],
                "select": "item",
                "database": "a9be6cb250144f0b9b6a4efef72e492c"
            },
            "metadata": {
                "designer": {
                    "x": 300,
                    "y": 0
                },
                "restore": {
                    "expect": {
                        "sorts": {
                            "mode": "chose"
                        },
                        "select": {
                            "label": "Database Items"
                        }
                    },
                    "parameters": {
                        "__IMTCONN__": {
                            "data": {
                                "scoped": "true",
                                "connection": "notion2"
                            },
                            "label": "My Notion connection (Embrace)"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "__IMTCONN__",
                        "type": "account:notion2,notion3",
                        "label": "Connection",
                        "required": true
                    }
                ],
                "expect": [
                    {
                        "name": "select",
                        "type": "select",
                        "label": "Search Objects",
                        "required": true,
                        "validate": {
                            "enum": [
                                "item",
                                "database",
                                "page"
                            ]
                        }
                    },
                    {
                        "name": "limit",
                        "type": "uinteger",
                        "label": "Limit"
                    },
                    {
                        "name": "database",
                        "type": "text",
                        "label": "Database ID",
                        "required": true
                    },
                    {
                        "name": "filter",
                        "type": "filter",
                        "label": "Filter",
                        "options": {
                            "store": [
                                {
                                    "label": "Planning Period (Select)",
                                    "value": "Planning Period |&*^%$#@| select"
                                },
                                {
                                    "label": "Assigned Team (Select)",
                                    "value": "Assigned Team |&*^%$#@| select"
                                },
                                {
                                    "label": "Status (Rich text)",
                                    "value": "Status |&*^%$#@| rich_text"
                                },
                                {
                                    "label": "Ticket ID (Number)",
                                    "value": "Ticket ID |&*^%$#@| number"
                                },
                                {
                                    "label": "URL (Url)",
                                    "value": "URL |&*^%$#@| url"
                                },
                                {
                                    "label": "Priority (Rich text)",
                                    "value": "Priority |&*^%$#@| rich_text"
                                },
                                {
                                    "label": "Tag (Rich text)",
                                    "value": "Tag |&*^%$#@| rich_text"
                                },
                                {
                                    "label": "ClickUp Task URL (Rich text)",
                                    "value": "ClickUp Task URL |&*^%$#@| rich_text"
                                },
                                {
                                    "label": "Subject (Title)",
                                    "value": "Subject |&*^%$#@| title"
                                }
                            ],
                            "operators": [
                                {
                                    "label": "Text",
                                    "options": [
                                        {
                                            "label": "Equals",
                                            "value": "text:equals"
                                        },
                                        {
                                            "label": "Does not equal",
                                            "value": "text:does_not_equal"
                                        },
                                        {
                                            "label": "Contains",
                                            "value": "text:contains"
                                        },
                                        {
                                            "label": "Does not contain",
                                            "value": "text:does_not_contain"
                                        },
                                        {
                                            "label": "Starts with",
                                            "value": "text:starts_with"
                                        },
                                        {
                                            "label": "Ends with",
                                            "value": "text:ends_with"
                                        },
                                        {
                                            "label": "Is empty (Boolean)",
                                            "value": "text:is_empty"
                                        },
                                        {
                                            "label": "Is not empty (boolean)",
                                            "value": "text:is_not_empty"
                                        }
                                    ]
                                },
                                {
                                    "label": "Number",
                                    "options": [
                                        {
                                            "label": "Equals",
                                            "value": "number:equals"
                                        },
                                        {
                                            "label": "Does not equal",
                                            "value": "number:does_not_equal"
                                        },
                                        {
                                            "label": "Greater than",
                                            "value": "number:greater_than"
                                        },
                                        {
                                            "label": "Less than",
                                            "value": "number:less_than"
                                        },
                                        {
                                            "label": "Greater than or equal to",
                                            "value": "number:greater_than_or_equal_to"
                                        },
                                        {
                                            "label": "Less than or equal to",
                                            "value": "number:less_than_or_equal_to"
                                        },
                                        {
                                            "label": "Is empty (Boolean)",
                                            "value": "number:is_empty"
                                        },
                                        {
                                            "label": "Is not empty (boolean)",
                                            "value": "number:is_not_empty"
                                        }
                                    ]
                                },
                                {
                                    "label": "Date",
                                    "options": [
                                        {
                                            "label": "Equals",
                                            "value": "date:equals"
                                        },
                                        {
                                            "label": "Before",
                                            "value": "date:before"
                                        },
                                        {
                                            "label": "After",
                                            "value": "date:after"
                                        },
                                        {
                                            "label": "On or before",
                                            "value": "date:on_or_before"
                                        },
                                        {
                                            "label": "On or after",
                                            "value": "date:on_or_after"
                                        },
                                        {
                                            "label": "Is empty (Boolean)",
                                            "value": "date:is_empty"
                                        },
                                        {
                                            "label": "Is not empty (boolean)",
                                            "value": "date:is_not_empty"
                                        }
                                    ]
                                },
                                {
                                    "label": "Checkbox",
                                    "options": [
                                        {
                                            "label": "Equals",
                                            "value": "checkbox:equals"
                                        },
                                        {
                                            "label": "Does not equal",
                                            "value": "checkbox:does_not_equal"
                                        }
                                    ]
                                },
                                {
                                    "label": "File",
                                    "options": [
                                        {
                                            "label": "Equals",
                                            "value": "file:equals"
                                        },
                                        {
                                            "label": "Does not equal",
                                            "value": "file:does_not_equal"
                                        }
                                    ]
                                },
                                {
                                    "label": "Select",
                                    "options": [
                                        {
                                            "label": "Equals",
                                            "value": "select:equals"
                                        },
                                        {
                                            "label": "Does not equal",
                                            "value": "select:does_not_equal"
                                        },
                                        {
                                            "label": "Is empty (Boolean)",
                                            "value": "select:is_empty"
                                        },
                                        {
                                            "label": "Is not empty (boolean)",
                                            "value": "select:is_not_empty"
                                        }
                                    ]
                                },
                                {
                                    "label": "Multi-select",
                                    "options": [
                                        {
                                            "label": "Contains",
                                            "value": "multiselect:contains"
                                        },
                                        {
                                            "label": "Does not contain",
                                            "value": "multiselect:does_not_contain"
                                        },
                                        {
                                            "label": "Is empty (Boolean)",
                                            "value": "multiselect:is_empty"
                                        },
                                        {
                                            "label": "Is not empty (boolean)",
                                            "value": "multiselect:is_not_empty"
                                        }
                                    ]
                                },
                                {
                                    "label": "People",
                                    "options": [
                                        {
                                            "label": "Contains",
                                            "value": "people:contains"
                                        },
                                        {
                                            "label": "Does not contain",
                                            "value": "people:does_not_contain"
                                        },
                                        {
                                            "label": "Is empty (Boolean)",
                                            "value": "people:is_empty"
                                        },
                                        {
                                            "label": "Is not empty (boolean)",
                                            "value": "people:is_not_empty"
                                        }
                                    ]
                                },
                                {
                                    "label": "Relation",
                                    "options": [
                                        {
                                            "label": "Contains",
                                            "value": "relation:contains"
                                        },
                                        {
                                            "label": "Does not contain",
                                            "value": "relation:does_not_contain"
                                        },
                                        {
                                            "label": "Is empty (Boolean)",
                                            "value": "relation:is_empty"
                                        },
                                        {
                                            "label": "Is not empty (boolean)",
                                            "value": "relation:is_not_empty"
                                        }
                                    ]
                                },
                                {
                                    "label": "Formula",
                                    "options": [
                                        {
                                            "label": "Text - Equals",
                                            "value": "formula:text-equals"
                                        },
                                        {
                                            "label": "Text - Does not equal",
                                            "value": "formula:text-does_not_equal"
                                        },
                                        {
                                            "label": "Text - Contains",
                                            "value": "formula:text-contains"
                                        },
                                        {
                                            "label": "Text - Does not contain",
                                            "value": "formula:text-does_not_contain"
                                        },
                                        {
                                            "label": "Text - Starts with",
                                            "value": "formula:text-starts_with"
                                        },
                                        {
                                            "label": "Text - Ends with",
                                            "value": "formula:text-ends_with"
                                        },
                                        {
                                            "label": "Text - Is empty (Boolean)",
                                            "value": "formula:text-is_empty"
                                        },
                                        {
                                            "label": "Text - Is not empty (boolean)",
                                            "value": "formula:text-is_not_empty"
                                        },
                                        {
                                            "label": "Checkbox - Equals",
                                            "value": "formula:checkbox-equals"
                                        },
                                        {
                                            "label": "Checkbox - Does not equal",
                                            "value": "formula:checkbox-does_not_equal"
                                        },
                                        {
                                            "label": "Number - Equals",
                                            "value": "formula:number-equals"
                                        },
                                        {
                                            "label": "Number - Does not equal",
                                            "value": "formula:number-does_not_equal"
                                        },
                                        {
                                            "label": "Number - Greater than",
                                            "value": "formula:number-greater_than"
                                        },
                                        {
                                            "label": "Number - Less than",
                                            "value": "formula:number-less_than"
                                        },
                                        {
                                            "label": "Number - Greater than or equal to",
                                            "value": "formula:number-greater_than_or_equal_to"
                                        },
                                        {
                                            "label": "Number - Less than or equal to",
                                            "value": "formula:number-less_than_or_equal_to"
                                        },
                                        {
                                            "label": "Number - Is empty (Boolean)",
                                            "value": "formula:number-is_empty"
                                        },
                                        {
                                            "label": "Number - Is not empty (boolean)",
                                            "value": "formula:number-is_not_empty"
                                        },
                                        {
                                            "label": "Date - Equals",
                                            "value": "formula:date-equals"
                                        },
                                        {
                                            "label": "Date - before",
                                            "value": "formula:date-before"
                                        },
                                        {
                                            "label": "Date - after",
                                            "value": "formula:date-after"
                                        },
                                        {
                                            "label": "Date - On or before",
                                            "value": "formula:date-on_or_before"
                                        },
                                        {
                                            "label": "Date - On or after",
                                            "value": "formula:date-on_or_after"
                                        },
                                        {
                                            "label": "Date - Is empty (Boolean)",
                                            "value": "formula:date-is_empty"
                                        },
                                        {
                                            "label": "Date - Is not empty (boolean)",
                                            "value": "formula:date-is_not_empty"
                                        }
                                    ]
                                }
                            ]
                        }
                    },
                    {
                        "name": "sorts",
                        "spec": [
                            {
                                "name": "select",
                                "type": "select",
                                "label": "Select a Field to Sort",
                                "options": [
                                    {
                                        "label": "Property Field",
                                        "value": "property",
                                        "nested": [
                                            {
                                                "name": "property",
                                                "type": "select",
                                                "label": "Property Field",
                                                "options": "rpc://notion/1/listDatabasePropertiesFieldsForFilter?sortParameter=true",
                                                "required": true
                                            }
                                        ]
                                    },
                                    {
                                        "label": "Timestamp",
                                        "value": "timestamp",
                                        "nested": [
                                            {
                                                "name": "timestamp",
                                                "type": "select",
                                                "label": "Timestamp",
                                                "options": [
                                                    {
                                                        "label": "Created time",
                                                        "value": "created_time",
                                                        "default": true
                                                    },
                                                    {
                                                        "label": "Last edited time",
                                                        "value": "last_edited_time"
                                                    }
                                                ],
                                                "required": true
                                            }
                                        ],
                                        "default": true
                                    }
                                ],
                                "required": true
                            },
                            {
                                "name": "direction",
                                "type": "select",
                                "label": "Direction",
                                "options": [
                                    {
                                        "label": "Ascending",
                                        "value": "ascending"
                                    },
                                    {
                                        "label": "Descending",
                                        "value": "descending"
                                    }
                                ],
                                "required": true
                            }
                        ],
                        "type": "array",
                        "label": "Sorts"
                    }
                ],
                "interface": [
                    {
                        "name": "__IMTLENGTH__",
                        "type": "uinteger",
                        "label": "Total number of bundles"
                    },
                    {
                        "name": "__IMTINDEX__",
                        "type": "uinteger",
                        "label": "Bundle order position"
                    },
                    {
                        "name": "object",
                        "type": "text",
                        "label": "Object"
                    },
                    {
                        "name": "id",
                        "type": "text",
                        "label": "Page ID"
                    },
                    {
                        "name": "created_time",
                        "type": "date",
                        "label": "Created Time"
                    },
                    {
                        "name": "last_edited_time",
                        "type": "date",
                        "label": "Last Edited Time"
                    },
                    {
                        "name": "icon",
                        "spec": [
                            {
                                "name": "type",
                                "type": "text",
                                "label": "Type"
                            },
                            {
                                "name": "emoji",
                                "type": "text",
                                "label": "Emoji"
                            }
                        ],
                        "type": "collection",
                        "label": "Icon"
                    },
                    {
                        "name": "cover",
                        "spec": [
                            {
                                "name": "type",
                                "type": "text",
                                "label": "Type"
                            },
                            {
                                "name": "external",
                                "spec": [
                                    {
                                        "name": "url",
                                        "type": "text",
                                        "label": "URL"
                                    }
                                ],
                                "type": "collection",
                                "label": "External"
                            }
                        ],
                        "type": "collection",
                        "label": "Cover"
                    },
                    {
                        "name": "url",
                        "type": "text",
                        "label": "URL"
                    },
                    {
                        "name": "parent",
                        "spec": [
                            {
                                "name": "type",
                                "type": "text",
                                "label": "Type"
                            },
                            {
                                "name": "workspace",
                                "type": "boolean",
                                "label": "Workspace"
                            },
                            {
                                "name": "page_id",
                                "type": "text",
                                "label": "Page ID"
                            },
                            {
                                "name": "database_id",
                                "type": "text",
                                "label": "Database ID"
                            }
                        ],
                        "type": "collection",
                        "label": "Parent"
                    },
                    {
                        "name": "archived",
                        "type": "boolean",
                        "label": "Archived"
                    },
                    {
                        "name": "properties",
                        "spec": {
                            "spec": [
                                {
                                    "name": "id",
                                    "type": "text",
                                    "label": "ID"
                                },
                                {
                                    "name": "type",
                                    "type": "text",
                                    "label": "Type"
                                },
                                {
                                    "name": "people",
                                    "spec": {
                                        "spec": [
                                            {
                                                "name": "object",
                                                "type": "text",
                                                "label": "Object"
                                            },
                                            {
                                                "name": "id",
                                                "type": "text",
                                                "label": "ID"
                                            },
                                            {
                                                "name": "name",
                                                "type": "text",
                                                "label": "Name"
                                            },
                                            {
                                                "name": "avatar_url",
                                                "type": "text",
                                                "label": "Avatar Url"
                                            },
                                            {
                                                "name": "type",
                                                "type": "text",
                                                "label": "Type"
                                            },
                                            {
                                                "name": "person",
                                                "spec": [
                                                    {
                                                        "name": "email",
                                                        "type": "text",
                                                        "label": "Email"
                                                    }
                                                ],
                                                "type": "collection",
                                                "label": "Person"
                                            }
                                        ],
                                        "type": "collection"
                                    },
                                    "type": "array",
                                    "label": "People"
                                },
                                {
                                    "name": "url",
                                    "type": "text",
                                    "label": "URL"
                                },
                                {
                                    "name": "text",
                                    "spec": {
                                        "spec": [
                                            {
                                                "name": "type",
                                                "type": "text",
                                                "label": "Type"
                                            },
                                            {
                                                "name": "text",
                                                "spec": [
                                                    {
                                                        "name": "content",
                                                        "type": "text",
                                                        "label": "Content"
                                                    },
                                                    {
                                                        "name": "link",
                                                        "type": "text",
                                                        "label": "Link"
                                                    }
                                                ],
                                                "type": "collection",
                                                "label": "Text"
                                            },
                                            {
                                                "name": "annotations",
                                                "spec": [
                                                    {
                                                        "name": "bold",
                                                        "type": "boolean",
                                                        "label": "Bold"
                                                    },
                                                    {
                                                        "name": "italic",
                                                        "type": "boolean",
                                                        "label": "Italic"
                                                    },
                                                    {
                                                        "name": "strikethrough",
                                                        "type": "boolean",
                                                        "label": "Strikethrough"
                                                    },
                                                    {
                                                        "name": "underline",
                                                        "type": "boolean",
                                                        "label": "Underline"
                                                    },
                                                    {
                                                        "name": "code",
                                                        "type": "boolean",
                                                        "label": "Code"
                                                    },
                                                    {
                                                        "name": "color",
                                                        "type": "text",
                                                        "label": "Color"
                                                    }
                                                ],
                                                "type": "collection",
                                                "label": "Annotations"
                                            },
                                            {
                                                "name": "plain_text",
                                                "type": "text",
                                                "label": "Plain Text"
                                            },
                                            {
                                                "name": "href",
                                                "type": "text",
                                                "label": "Href"
                                            }
                                        ],
                                        "type": "collection"
                                    },
                                    "type": "array",
                                    "label": "Text"
                                },
                                {
                                    "name": "select",
                                    "spec": [
                                        {
                                            "name": "id",
                                            "type": "text",
                                            "label": "ID"
                                        },
                                        {
                                            "name": "name",
                                            "type": "text",
                                            "label": "Name"
                                        },
                                        {
                                            "name": "color",
                                            "type": "text",
                                            "label": "Color"
                                        }
                                    ],
                                    "type": "collection",
                                    "label": "Select"
                                },
                                {
                                    "name": "email",
                                    "type": "text",
                                    "label": "Email"
                                },
                                {
                                    "name": "phone_number",
                                    "type": "text",
                                    "label": "Phone Number"
                                },
                                {
                                    "name": "multi_select",
                                    "spec": {
                                        "spec": [
                                            {
                                                "name": "id",
                                                "type": "text",
                                                "label": "ID"
                                            },
                                            {
                                                "name": "name",
                                                "type": "text",
                                                "label": "Name"
                                            },
                                            {
                                                "name": "color",
                                                "type": "text",
                                                "label": "Color"
                                            }
                                        ],
                                        "type": "collection"
                                    },
                                    "type": "array",
                                    "label": "Multi Select"
                                },
                                {
                                    "name": "date",
                                    "spec": [
                                        {
                                            "name": "start",
                                            "type": "text",
                                            "label": "Start"
                                        },
                                        {
                                            "name": "end",
                                            "type": "text",
                                            "label": "End"
                                        }
                                    ],
                                    "type": "collection",
                                    "label": "Date"
                                },
                                {
                                    "name": "checkbox",
                                    "type": "boolean",
                                    "label": "Checkbox"
                                },
                                {
                                    "name": "number",
                                    "type": "number",
                                    "label": "Number"
                                },
                                {
                                    "name": "files",
                                    "spec": {
                                        "spec": [
                                            {
                                                "name": "name",
                                                "type": "text",
                                                "label": "Name"
                                            }
                                        ],
                                        "type": "collection"
                                    },
                                    "type": "array",
                                    "label": "Files"
                                },
                                {
                                    "name": "title",
                                    "spec": {
                                        "spec": [
                                            {
                                                "name": "type",
                                                "type": "text",
                                                "label": "Type"
                                            },
                                            {
                                                "name": "text",
                                                "spec": [
                                                    {
                                                        "name": "content",
                                                        "type": "text",
                                                        "label": "Content"
                                                    },
                                                    {
                                                        "name": "link",
                                                        "type": "text",
                                                        "label": "Link"
                                                    }
                                                ],
                                                "type": "collection",
                                                "label": "Text"
                                            },
                                            {
                                                "name": "annotations",
                                                "spec": [
                                                    {
                                                        "name": "bold",
                                                        "type": "boolean",
                                                        "label": "Bold"
                                                    },
                                                    {
                                                        "name": "italic",
                                                        "type": "boolean",
                                                        "label": "Italic"
                                                    },
                                                    {
                                                        "name": "strikethrough",
                                                        "type": "boolean",
                                                        "label": "Strikethrough"
                                                    },
                                                    {
                                                        "name": "underline",
                                                        "type": "boolean",
                                                        "label": "Underline"
                                                    },
                                                    {
                                                        "name": "code",
                                                        "type": "boolean",
                                                        "label": "Code"
                                                    },
                                                    {
                                                        "name": "color",
                                                        "type": "text",
                                                        "label": "Color"
                                                    }
                                                ],
                                                "type": "collection",
                                                "label": "Annotations"
                                            },
                                            {
                                                "name": "plain_text",
                                                "type": "text",
                                                "label": "Plain Text"
                                            },
                                            {
                                                "name": "href",
                                                "type": "text",
                                                "label": "Href"
                                            }
                                        ],
                                        "type": "collection"
                                    },
                                    "type": "array",
                                    "label": "Title"
                                },
                                {
                                    "name": "last_edited_time",
                                    "time": true,
                                    "type": "date",
                                    "label": "Last Edited Time"
                                },
                                {
                                    "name": "created_time",
                                    "time": true,
                                    "type": "date",
                                    "label": "Created Time"
                                },
                                {
                                    "name": "last_edited_by",
                                    "spec": [
                                        {
                                            "name": "object",
                                            "type": "text",
                                            "label": "Object"
                                        },
                                        {
                                            "name": "id",
                                            "type": "text",
                                            "label": "ID"
                                        },
                                        {
                                            "name": "name",
                                            "type": "text",
                                            "label": "Name"
                                        },
                                        {
                                            "name": "avatar_url",
                                            "type": "text",
                                            "label": "Avatar Url"
                                        },
                                        {
                                            "name": "type",
                                            "type": "text",
                                            "label": "Type"
                                        },
                                        {
                                            "name": "person",
                                            "spec": [
                                                {
                                                    "name": "email",
                                                    "type": "text",
                                                    "label": "Email"
                                                }
                                            ],
                                            "type": "collection",
                                            "label": "Person"
                                        }
                                    ],
                                    "type": "collection",
                                    "label": "Last Edited By"
                                },
                                {
                                    "name": "created_by",
                                    "spec": [
                                        {
                                            "name": "object",
                                            "type": "text",
                                            "label": "Object"
                                        },
                                        {
                                            "name": "id",
                                            "type": "text",
                                            "label": "ID"
                                        },
                                        {
                                            "name": "name",
                                            "type": "text",
                                            "label": "Name"
                                        },
                                        {
                                            "name": "avatar_url",
                                            "type": "text",
                                            "label": "Avatar Url"
                                        },
                                        {
                                            "name": "type",
                                            "type": "text",
                                            "label": "Type"
                                        },
                                        {
                                            "name": "person",
                                            "spec": [
                                                {
                                                    "name": "email",
                                                    "type": "text",
                                                    "label": "Email"
                                                }
                                            ],
                                            "type": "collection",
                                            "label": "Person"
                                        }
                                    ],
                                    "type": "collection",
                                    "label": "Created By"
                                },
                                {
                                    "name": "formula",
                                    "spec": [
                                        {
                                            "name": "type",
                                            "type": "text",
                                            "label": "Type"
                                        },
                                        {
                                            "name": "string",
                                            "type": "text",
                                            "label": "String"
                                        }
                                    ],
                                    "type": "collection",
                                    "label": "Formula"
                                },
                                {
                                    "name": "relation",
                                    "spec": {
                                        "spec": [
                                            {
                                                "name": "id",
                                                "type": "text",
                                                "label": "ID"
                                            }
                                        ],
                                        "type": "collection"
                                    },
                                    "type": "array",
                                    "label": "Relation"
                                },
                                {
                                    "name": "label",
                                    "type": "text",
                                    "label": "Label"
                                }
                            ],
                            "type": "collection"
                        },
                        "type": "array",
                        "label": "Properties"
                    }
                ]
            }
        },
        {
            "id": 3,
            "module": "freshdesk:updateTicket",
            "version": 1,
            "parameters": {
                "__IMTCONN__": 10434
            },
            "filter": {
                "name": "Ticket Type & Platform Exists",
                "conditions": [
                    [
                        {
                            "a": "{{1.type}}",
                            "o": "exist"
                        },
                        {
                            "a": "{{1.custom_fields.cf_platform}}",
                            "o": "exist"
                        },
                        {
                            "a": "{{1.id}}",
                            "o": "exist"
                        }
                    ]
                ]
            },
            "mapper": {
                "id": "{{1.id}}",
                "name": "",
                "tags": "{{1.tags}}",
                "type": "{{1.type}}",
                "email": "",
                "due_by": "",
                "source": "",
                "status": "{{1.status}}",
                "subject": "{{1.subject}}",
                "priority": "{{1.priority}}",
                "fr_due_by": "",
                "company_id": "",
                "product_id": "{{1.product_id}}",
                "description": "{{1.description}}",
                "requester_id": "{{1.requester_id}}",
                "responder_id": "{{1.responder_id}}",
                "custom_fields": {
                    "cf_app_id": "{{1.custom_fields.cf_app_id}}",
                    "cf_platform": "{{1.custom_fields.cf_platform}}",
                    "cf_account_type": "{{1.custom_fields.cf_account_type}}",
                    "cf_assigned_team": "{{1.custom_fields.cf_assigned_team}}",
                    "cf_clickup_task_id": "{{1.custom_fields.cf_clickup_task_id}}",
                    "cf_main_cs_contact": "{{ifempty(1.custom_fields.cf_main_cs_contact; null)}}",
                    "cf_clickup_task_url": "{{1.custom_fields.cf_clickup_task_url}}",
                    "cf_resolution_summary": "{{ifempty(1.custom_fields.cf_resolution_summary; null)}}",
                    "cf_clickup_task_status": "{{ifempty(1.custom_fields.cf_clickup_task_status; null)}}",
                    "cf_planning_week515231": "{{ifempty(2.properties_value.`Planning Period`.name; \"Not Planned\")}}",
                    "cf_clickup_custom_task_id": "{{1.custom_fields.cf_clickup_custom_task_id}}"
                },
                "email_config_id": ""
            },
            "metadata": {
                "designer": {
                    "x": 600,
                    "y": 0
                },
                "restore": {
                    "expect": {
                        "id": {
                            "mode": "edit"
                        },
                        "tags": {
                            "mode": "edit"
                        },
                        "type": {
                            "mode": "edit"
                        },
                        "source": {
                            "mode": "chose",
                            "label": "Empty"
                        },
                        "status": {
                            "mode": "edit"
                        },
                        "priority": {
                            "mode": "edit"
                        },
                        "custom_fields": {
                            "nested": {
                                "cf_platform": {
                                    "mode": "edit"
                                },
                                "cf_account_type": {
                                    "mode": "edit"
                                },
                                "cf_assigned_team": {
                                    "mode": "edit"
                                },
                                "cf_main_cs_contact": {
                                    "mode": "edit"
                                },
                                "cf_clickup_task_status": {
                                    "mode": "edit"
                                },
                                "cf_planning_week515231": {
                                    "mode": "edit"
                                }
                            }
                        }
                    },
                    "parameters": {
                        "__IMTCONN__": {
                            "data": {
                                "scoped": "true",
                                "connection": "freshdesk"
                            },
                            "label": "Embrace.IO FreshDesk"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "__IMTCONN__",
                        "type": "account:freshdesk",
                        "label": "Connection",
                        "required": true
                    }
                ],
                "expect": [
                    {
                        "name": "id",
                        "type": "select",
                        "label": "Ticket",
                        "required": true
                    },
                    {
                        "name": "name",
                        "type": "text",
                        "label": "Name of the requester"
                    },
                    {
                        "name": "requester_id",
                        "type": "number",
                        "label": "Requester ID"
                    },
                    {
                        "name": "email",
                        "type": "email",
                        "label": "Requester's email"
                    },
                    {
                        "name": "subject",
                        "type": "text",
                        "label": "Subject"
                    },
                    {
                        "name": "description",
                        "type": "text",
                        "label": "Description"
                    },
                    {
                        "name": "type",
                        "type": "select",
                        "label": "Type",
                        "validate": {
                            "enum": [
                                "Build",
                                "Crashes",
                                "Data Integrity / Missing Data",
                                "Feature Request",
                                "Integration / Configuration",
                                "Report / Ad-hoc Analysis",
                                "SDK bug / Enhancement",
                                "Symbols",
                                "UI Bug / Enhancement",
                                "Other"
                            ]
                        }
                    },
                    {
                        "name": "responder_id",
                        "type": "number",
                        "label": "Responder ID"
                    },
                    {
                        "name": "status",
                        "type": "select",
                        "label": "Status",
                        "required": true,
                        "validate": {
                            "enum": [
                                2,
                                3,
                                4,
                                5,
                                6,
                                7,
                                8,
                                9,
                                10,
                                11
                            ]
                        }
                    },
                    {
                        "name": "priority",
                        "type": "select",
                        "label": "Priority",
                        "validate": {
                            "enum": [
                                1,
                                2,
                                3,
                                4
                            ]
                        }
                    },
                    {
                        "name": "due_by",
                        "type": "date",
                        "label": "Due by"
                    },
                    {
                        "name": "email_config_id",
                        "type": "number",
                        "label": "Email config ID"
                    },
                    {
                        "name": "fr_due_by",
                        "type": "date",
                        "label": "First response due by"
                    },
                    {
                        "name": "product_id",
                        "type": "number",
                        "label": "Product ID"
                    },
                    {
                        "name": "source",
                        "type": "select",
                        "label": "Source",
                        "validate": {
                            "enum": [
                                1,
                                2,
                                3,
                                7,
                                8,
                                9,
                                10,
                                11
                            ]
                        }
                    },
                    {
                        "name": "tags",
                        "spec": {
                            "name": "value",
                            "type": "text"
                        },
                        "type": "array",
                        "label": "Tags"
                    },
                    {
                        "name": "company_id",
                        "type": "number",
                        "label": "Company ID"
                    },
                    {
                        "name": "custom_fields",
                        "spec": [
                            {
                                "name": "cf_resolution_summary",
                                "type": "text",
                                "label": "Resolution Summary"
                            },
                            {
                                "name": "cf_app_id",
                                "type": "text",
                                "label": "App ID"
                            },
                            {
                                "name": "cf_main_cs_contact",
                                "type": "select",
                                "label": "Main CS / SE Contact"
                            },
                            {
                                "name": "cf_platform",
                                "type": "select",
                                "label": "Platform"
                            },
                            {
                                "name": "cf_account_type",
                                "type": "select",
                                "label": "Account Type"
                            },
                            {
                                "name": "cf_assigned_team",
                                "type": "select",
                                "label": "Assigned Team"
                            },
                            {
                                "name": "cf_clickup_task_status",
                                "type": "select",
                                "label": "ClickUp Task Status"
                            },
                            {
                                "name": "cf_clickup_task_id",
                                "type": "text",
                                "label": "ClickUp Task ID"
                            },
                            {
                                "name": "cf_clickup_custom_task_id",
                                "type": "text",
                                "label": "ClickUp Custom Task ID"
                            },
                            {
                                "name": "cf_clickup_task_url",
                                "type": "text",
                                "label": "ClickUp Task URL"
                            },
                            {
                                "name": "cf_planning_week515231",
                                "type": "select",
                                "label": "Planning Period"
                            }
                        ],
                        "type": "collection",
                        "label": "Custom fields"
                    }
                ],
                "interface": [
                    {
                        "name": "cc_emails",
                        "spec": {
                            "type": "text"
                        },
                        "type": "array",
                        "label": "CC Emails"
                    },
                    {
                        "name": "fwd_emails",
                        "type": "array",
                        "label": "Forwarded emails"
                    },
                    {
                        "name": "reply_cc_emails",
                        "spec": {
                            "type": "text"
                        },
                        "type": "array",
                        "label": "Reply CC emails"
                    },
                    {
                        "name": "email_config_id",
                        "type": "text",
                        "label": "Email config Id"
                    },
                    {
                        "name": "fr_escalated",
                        "type": "boolean",
                        "label": "Fr escalated"
                    },
                    {
                        "name": "ticket_cc_emails",
                        "type": "array",
                        "label": "Ticket cc emails"
                    },
                    {
                        "name": "group_id",
                        "type": "text",
                        "label": "Group Id"
                    },
                    {
                        "name": "priority",
                        "type": "number",
                        "label": "Priority"
                    },
                    {
                        "name": "requester_id",
                        "type": "number",
                        "label": "Requester Id"
                    },
                    {
                        "name": "responder_id",
                        "type": "text",
                        "label": "Responder Id"
                    },
                    {
                        "name": "source",
                        "type": "number",
                        "label": "Source"
                    },
                    {
                        "name": "spam",
                        "type": "boolean",
                        "label": "SPAM"
                    },
                    {
                        "name": "status",
                        "type": "number",
                        "label": "Status"
                    },
                    {
                        "name": "subject",
                        "type": "text",
                        "label": "Subject"
                    },
                    {
                        "name": "company_id",
                        "type": "number",
                        "label": "Company Id"
                    },
                    {
                        "name": "id",
                        "type": "number",
                        "label": "ID"
                    },
                    {
                        "name": "type",
                        "type": "text",
                        "label": "Type"
                    },
                    {
                        "name": "to_emails",
                        "type": "text",
                        "label": "To emails"
                    },
                    {
                        "name": "product_id",
                        "type": "text",
                        "label": "Product Id"
                    },
                    {
                        "name": "created_at",
                        "type": "date",
                        "label": "Created at"
                    },
                    {
                        "name": "updated_at",
                        "type": "date",
                        "label": "Updated at"
                    },
                    {
                        "name": "due_by",
                        "type": "date",
                        "label": "Due by"
                    },
                    {
                        "name": "fr_due_by",
                        "type": "date",
                        "label": "Fr due by"
                    },
                    {
                        "name": "is_escalated",
                        "type": "boolean",
                        "label": "Is escalated"
                    },
                    {
                        "name": "description_text",
                        "type": "text",
                        "label": "Description text"
                    },
                    {
                        "name": "description",
                        "type": "text",
                        "label": "Description"
                    },
                    {
                        "name": "custom_fields",
                        "spec": [
                            {
                                "name": "cf_resolution_summary",
                                "type": "text",
                                "label": "Resolution Summary",
                                "multiline": true
                            },
                            {
                                "name": "cf_app_id",
                                "type": "text",
                                "label": "App ID"
                            },
                            {
                                "name": "cf_main_cs_contact",
                                "type": "select",
                                "label": "Main CS / SE Contact",
                                "options": [
                                    {
                                        "label": "Brian Schell",
                                        "value": "Brian Schell"
                                    },
                                    {
                                        "label": "Chris Emma",
                                        "value": "Chris Emma"
                                    },
                                    {
                                        "label": "Collin Anderson",
                                        "value": "Collin Anderson"
                                    },
                                    {
                                        "label": "David Stahl",
                                        "value": "David Stahl"
                                    },
                                    {
                                        "label": "Harry Schaffer",
                                        "value": "Harry Schaffer"
                                    },
                                    {
                                        "label": "James Smith",
                                        "value": "James Smith"
                                    },
                                    {
                                        "label": "Kathryn Hjalmarson",
                                        "value": "Kathryn Hjalmarson"
                                    },
                                    {
                                        "label": "Kristin Hicks",
                                        "value": "Kristin Hicks"
                                    },
                                    {
                                        "label": "Magda Splawiec",
                                        "value": "Magda Splawiec"
                                    },
                                    {
                                        "label": "Safari Wallace",
                                        "value": "Safari Wallace"
                                    },
                                    {
                                        "label": "Walter Rodriguez",
                                        "value": "Walter Rodriguez"
                                    }
                                ],
                                "editable": true,
                                "validate": false
                            },
                            {
                                "name": "cf_platform",
                                "type": "select",
                                "label": "Platform",
                                "options": [
                                    {
                                        "label": "Android",
                                        "value": "Android"
                                    },
                                    {
                                        "label": "iOS",
                                        "value": "iOS"
                                    },
                                    {
                                        "label": "React Native: Android",
                                        "value": "React Native: Android"
                                    },
                                    {
                                        "label": "React Native: iOS",
                                        "value": "React Native: iOS"
                                    },
                                    {
                                        "label": "Unity: Android",
                                        "value": "Unity: Android"
                                    },
                                    {
                                        "label": "Unity: iOS",
                                        "value": "Unity: iOS"
                                    },
                                    {
                                        "label": "Data Intelligence",
                                        "value": "Data Intelligence"
                                    },
                                    {
                                        "label": "Embrace Dashboard",
                                        "value": "Embrace Dashboard"
                                    },
                                    {
                                        "label": "Other / Multiple Platforms",
                                        "value": "Other / Multiple Platforms"
                                    }
                                ],
                                "editable": true,
                                "validate": false
                            },
                            {
                                "name": "cf_account_type",
                                "type": "select",
                                "label": "Account Type",
                                "options": [
                                    {
                                        "label": "Managed Customer",
                                        "value": "Managed Customer"
                                    },
                                    {
                                        "label": "Unmanaged Customer",
                                        "value": "Unmanaged Customer"
                                    },
                                    {
                                        "label": "Prospect",
                                        "value": "Prospect"
                                    },
                                    {
                                        "label": "N/A",
                                        "value": "N/A"
                                    }
                                ],
                                "editable": true,
                                "validate": false
                            },
                            {
                                "name": "cf_assigned_team",
                                "type": "select",
                                "label": "Assigned Team",
                                "options": [
                                    {
                                        "label": "Android",
                                        "value": "Android"
                                    },
                                    {
                                        "label": "CoreXP",
                                        "value": "CoreXP"
                                    },
                                    {
                                        "label": "Data",
                                        "value": "Data"
                                    },
                                    {
                                        "label": "DevOps",
                                        "value": "DevOps"
                                    },
                                    {
                                        "label": "IOS",
                                        "value": "IOS"
                                    },
                                    {
                                        "label": "React Native",
                                        "value": "React Native"
                                    },
                                    {
                                        "label": "Unity",
                                        "value": "Unity"
                                    },
                                    {
                                        "label": "No Team Assigned",
                                        "value": "No Team Assigned"
                                    }
                                ],
                                "editable": true,
                                "validate": false
                            },
                            {
                                "name": "cf_clickup_task_status",
                                "type": "select",
                                "label": "ClickUp Task Status",
                                "options": [
                                    {
                                        "label": "open",
                                        "value": "open"
                                    },
                                    {
                                        "label": "in progress",
                                        "value": "in progress"
                                    },
                                    {
                                        "label": "review",
                                        "value": "review"
                                    },
                                    {
                                        "label": "blocked",
                                        "value": "blocked"
                                    },
                                    {
                                        "label": "not needed",
                                        "value": "not needed"
                                    },
                                    {
                                        "label": "done",
                                        "value": "done"
                                    }
                                ],
                                "editable": true,
                                "validate": false
                            },
                            {
                                "name": "cf_clickup_task_id",
                                "type": "text",
                                "label": "ClickUp Task ID"
                            },
                            {
                                "name": "cf_clickup_custom_task_id",
                                "type": "text",
                                "label": "ClickUp Custom Task ID"
                            },
                            {
                                "name": "cf_clickup_task_url",
                                "type": "text",
                                "label": "ClickUp Task URL"
                            },
                            {
                                "name": "cf_planning_week515231",
                                "type": "select",
                                "label": "Planning Period",
                                "options": [
                                    {
                                        "label": "Not Planned",
                                        "value": "Not Planned"
                                    },
                                    {
                                        "label": "ASSESS - CS",
                                        "value": "ASSESS - CS"
                                    },
                                    {
                                        "label": "ASSESS - PRODUCT",
                                        "value": "ASSESS - PRODUCT"
                                    },
                                    {
                                        "label": "ASSESS - ENG",
                                        "value": "ASSESS - ENG"
                                    },
                                    {
                                        "label": "IN - ROADMAP",
                                        "value": "IN - ROADMAP"
                                    },
                                    {
                                        "label": "WAITING ON RELEASE",
                                        "value": "WAITING ON RELEASE"
                                    },
                                    {
                                        "label": "04/19/22 - 05/02/22",
                                        "value": "04/19/22 - 05/02/22"
                                    },
                                    {
                                        "label": "05/03/22 - 05/16/22",
                                        "value": "05/03/22 - 05/16/22"
                                    },
                                    {
                                        "label": "05/17/22 - 05/30/22",
                                        "value": "05/17/22 - 05/30/22"
                                    },
                                    {
                                        "label": "05/31/22 - 06/13/22",
                                        "value": "05/31/22 - 06/13/22"
                                    },
                                    {
                                        "label": "06/14/22 - 06/27/22",
                                        "value": "06/14/22 - 06/27/22"
                                    },
                                    {
                                        "label": "06/28/22 - 07/11/22",
                                        "value": "06/28/22 - 07/11/22"
                                    },
                                    {
                                        "label": "07/12/22 - 07/25/22",
                                        "value": "07/12/22 - 07/25/22"
                                    },
                                    {
                                        "label": "07/26/22 - 08/08/22",
                                        "value": "07/26/22 - 08/08/22"
                                    },
                                    {
                                        "label": "08/09/22 - 08/22/22",
                                        "value": "08/09/22 - 08/22/22"
                                    },
                                    {
                                        "label": "08/23/22 - 09/05/22",
                                        "value": "08/23/22 - 09/05/22"
                                    },
                                    {
                                        "label": "09/06/22 - 09/19/22",
                                        "value": "09/06/22 - 09/19/22"
                                    },
                                    {
                                        "label": "09/20/22 - 10/03/22",
                                        "value": "09/20/22 - 10/03/22"
                                    },
                                    {
                                        "label": "10/04/22 - 10/17/22",
                                        "value": "10/04/22 - 10/17/22"
                                    },
                                    {
                                        "label": "10/18/22 - 10/31/22",
                                        "value": "10/18/22 - 10/31/22"
                                    },
                                    {
                                        "label": "11/01/22 - 11/14/22",
                                        "value": "11/01/22 - 11/14/22"
                                    },
                                    {
                                        "label": "11/15/22 - 11/28/22",
                                        "value": "11/15/22 - 11/28/22"
                                    },
                                    {
                                        "label": "11/29/22 - 12/12/22",
                                        "value": "11/29/22 - 12/12/22"
                                    },
                                    {
                                        "label": "12/13/22 - 12/26/22",
                                        "value": "12/13/22 - 12/26/22"
                                    },
                                    {
                                        "label": "12/27/22 - 01/09/23",
                                        "value": "12/27/22 - 01/09/23"
                                    }
                                ],
                                "editable": true,
                                "validate": false
                            }
                        ],
                        "type": "collection",
                        "label": "Custom fields"
                    },
                    {
                        "name": "tags",
                        "type": "array",
                        "label": "Tags"
                    },
                    {
                        "name": "attachments",
                        "type": "array",
                        "label": "Attachments"
                    },
                    {
                        "name": "association_type",
                        "type": "text",
                        "label": "Association type"
                    },
                    {
                        "name": "source_additional_info",
                        "type": "text",
                        "label": "Source additional info"
                    },
                    {
                        "name": "associated_tickets_count",
                        "type": "uinteger",
                        "label": "Associated tickets count"
                    }
                ]
            }
        }
    ],
    "metadata": {
        "instant": false,
        "version": 1,
        "scenario": {
            "roundtrips": 1,
            "maxErrors": 3,
            "autoCommit": false,
            "autoCommitTriggerLast": true,
            "sequential": false,
            "confidential": false,
            "dataloss": false,
            "dlq": false
        },
        "designer": {
            "orphans": []
        },
        "zone": "us1.make.com"
    },
    "io": {
        "input_spec": [],
        "output_spec": []
    }
}