integration_projects/integromat_freshdesk_workflows/freshdesk_update_existing_clickup_tasks_manual.json
{
    "name": "freshdesk_update_existing_clickup_tasks_manual",
    "flow": [
        {
            "id": 1,
            "module": "freshdesk:findTickets",
            "version": 1,
            "parameters": {
                "__IMTCONN__": 10434
            },
            "mapper": {
                "limit": "5000",
                "search": [
                    [
                        {
                            "a": "status",
                            "b": "2",
                            "o": ":"
                        }
                    ],
                    [
                        {
                            "a": "status",
                            "b": "3",
                            "o": ":"
                        }
                    ],
                    [
                        {
                            "a": "status",
                            "b": "6",
                            "o": ":"
                        }
                    ],
                    [
                        {
                            "a": "status",
                            "b": "7",
                            "o": ":"
                        }
                    ],
                    [
                        {
                            "a": "status",
                            "b": "8",
                            "o": ":"
                        }
                    ],
                    [
                        {
                            "a": "status",
                            "b": "9",
                            "o": ":"
                        }
                    ],
                    [
                        {
                            "a": "status",
                            "b": "10",
                            "o": ":"
                        }
                    ],
                    [
                        {
                            "a": "status",
                            "b": "11",
                            "o": ":"
                        }
                    ]
                ]
            },
            "metadata": {
                "designer": {
                    "x": 0,
                    "y": 0
                },
                "restore": {
                    "parameters": {
                        "__IMTCONN__": {
                            "data": {
                                "scoped": "true",
                                "connection": "freshdesk"
                            },
                            "label": "Embrace.IO FreshDesk"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "__IMTCONN__",
                        "type": "account:freshdesk",
                        "label": "Connection",
                        "required": true
                    }
                ],
                "expect": [
                    {
                        "name": "search",
                        "type": "filter",
                        "label": "Filter",
                        "options": {
                            "store": [
                                {
                                    "label": "Agent ID",
                                    "value": "agent_id"
                                },
                                {
                                    "label": "Group ID",
                                    "value": "group_id"
                                },
                                {
                                    "label": "Priority",
                                    "value": "priority"
                                },
                                {
                                    "label": "Status",
                                    "value": "status"
                                },
                                {
                                    "label": "Tag",
                                    "value": "tag"
                                },
                                {
                                    "label": "Type",
                                    "value": "type"
                                },
                                {
                                    "label": "Due by",
                                    "value": "due_by"
                                },
                                {
                                    "label": "Fr due by",
                                    "value": "fr_due_by"
                                },
                                {
                                    "label": "Created at",
                                    "value": "created_at"
                                },
                                {
                                    "label": "Updated at",
                                    "value": "updated_at"
                                }
                            ],
                            "operators": [
                                {
                                    "label": "Any Value",
                                    "options": [
                                        {
                                            "label": "Equal to",
                                            "value": ":"
                                        },
                                        {
                                            "label": "Greater than",
                                            "value": ":>"
                                        },
                                        {
                                            "label": "Less than",
                                            "value": ":<"
                                        }
                                    ]
                                }
                            ]
                        },
                        "required": true
                    },
                    {
                        "name": "limit",
                        "type": "uinteger",
                        "label": "Limit"
                    }
                ]
            }
        },
        {
            "id": 4,
            "module": "datastore:SearchRecord",
            "version": 1,
            "parameters": {
                "limit": null,
                "datastore": 5473
            },
            "filter": {
                "name": "If ClickUp Task Exists >> Update",
                "conditions": [
                    [
                        {
                            "a": "{{1.custom_fields.cf_clickup_task_id}}",
                            "o": "exist"
                        }
                    ]
                ]
            },
            "mapper": {
                "sort": [],
                "filter": [
                    [
                        {
                            "a": "fd_status_id",
                            "b": "{{1.status}}",
                            "o": "number:equal"
                        }
                    ]
                ]
            },
            "metadata": {
                "designer": {
                    "x": 300,
                    "y": 0
                },
                "restore": {
                    "parameters": {
                        "datastore": {
                            "label": "FD & ClickUp Statuses Mappings"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "datastore",
                        "type": "datastore",
                        "label": "Data store",
                        "required": true
                    },
                    {
                        "name": "limit",
                        "type": "uinteger",
                        "label": "Limit"
                    },
                    {
                        "name": "continueWhenNoRes",
                        "type": "boolean",
                        "label": "Continue the execution of the route even if the module returns no results"
                    }
                ],
                "expect": [
                    {
                        "name": "filter",
                        "type": "filter",
                        "label": "Filter",
                        "options": "rpc://datastore/1.8.2/RpcGetUDTKeys",
                        "required": true
                    },
                    {
                        "name": "sort",
                        "spec": [
                            {
                                "name": "key",
                                "type": "select",
                                "label": "Key",
                                "dynamic": true,
                                "options": [],
                                "required": true
                            },
                            {
                                "name": "order",
                                "type": "select",
                                "label": "Order",
                                "options": [
                                    {
                                        "label": "Ascending",
                                        "value": 1
                                    },
                                    {
                                        "label": "Descending",
                                        "value": -1
                                    }
                                ],
                                "required": true
                            }
                        ],
                        "type": "array",
                        "label": "Sort"
                    }
                ],
                "interface": [
                    {
                        "name": "key",
                        "type": "text",
                        "label": "Key"
                    },
                    {
                        "name": "data",
                        "spec": [
                            {
                                "name": "fd_status_id",
                                "type": "number",
                                "label": null,
                                "default": null,
                                "required": true
                            },
                            {
                                "name": "fd_status_name",
                                "type": "text",
                                "label": null,
                                "default": null,
                                "required": true,
                                "multiline": false
                            },
                            {
                                "name": "clickup_status_name",
                                "type": "text",
                                "label": null,
                                "default": null,
                                "required": false,
                                "multiline": false
                            }
                        ],
                        "type": "collection",
                        "label": "Record"
                    }
                ]
            }
        },
        {
            "id": 5,
            "module": "datastore:SearchRecord",
            "version": 1,
            "parameters": {
                "limit": null,
                "datastore": 5475
            },
            "mapper": {
                "sort": [],
                "filter": [
                    [
                        {
                            "a": "fd_priority_id",
                            "b": "{{1.priority}}",
                            "o": "number:equal"
                        }
                    ]
                ]
            },
            "metadata": {
                "designer": {
                    "x": 600,
                    "y": 0
                },
                "restore": {
                    "parameters": {
                        "datastore": {
                            "label": "FD, Notion, Clickup Priority Mappings"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "datastore",
                        "type": "datastore",
                        "label": "Data store",
                        "required": true
                    },
                    {
                        "name": "limit",
                        "type": "uinteger",
                        "label": "Limit"
                    },
                    {
                        "name": "continueWhenNoRes",
                        "type": "boolean",
                        "label": "Continue the execution of the route even if the module returns no results"
                    }
                ],
                "expect": [
                    {
                        "name": "filter",
                        "type": "filter",
                        "label": "Filter",
                        "options": "rpc://datastore/1.8.2/RpcGetUDTKeys",
                        "required": true
                    },
                    {
                        "name": "sort",
                        "spec": [
                            {
                                "name": "key",
                                "type": "select",
                                "label": "Key",
                                "dynamic": true,
                                "options": [],
                                "required": true
                            },
                            {
                                "name": "order",
                                "type": "select",
                                "label": "Order",
                                "options": [
                                    {
                                        "label": "Ascending",
                                        "value": 1
                                    },
                                    {
                                        "label": "Descending",
                                        "value": -1
                                    }
                                ],
                                "required": true
                            }
                        ],
                        "type": "array",
                        "label": "Sort"
                    }
                ],
                "interface": [
                    {
                        "name": "key",
                        "type": "text",
                        "label": "Key"
                    },
                    {
                        "name": "data",
                        "spec": [
                            {
                                "name": "fd_priority_id",
                                "type": "number",
                                "label": null,
                                "default": null,
                                "required": true
                            },
                            {
                                "name": "fd_priority_name",
                                "type": "text",
                                "label": null,
                                "default": null,
                                "required": true,
                                "multiline": false
                            },
                            {
                                "name": "notion_priority_name",
                                "type": "text",
                                "label": null,
                                "default": null,
                                "required": false,
                                "multiline": false
                            },
                            {
                                "name": "clickup_priority_name",
                                "type": "text",
                                "label": null,
                                "default": null,
                                "required": false,
                                "multiline": false
                            },
                            {
                                "name": "clickup_priority_id",
                                "type": "number",
                                "label": null,
                                "default": null,
                                "required": false
                            }
                        ],
                        "type": "collection",
                        "label": "Record"
                    }
                ]
            }
        },
        {
            "id": 6,
            "module": "datastore:SearchRecord",
            "version": 1,
            "parameters": {
                "limit": null,
                "datastore": 6821
            },
            "mapper": {
                "sort": [],
                "filter": [
                    [
                        {
                            "a": "FD Assigned Team",
                            "b": "{{1.custom_fields.cf_assigned_team}}",
                            "o": "text:equal"
                        }
                    ]
                ]
            },
            "metadata": {
                "designer": {
                    "x": 900,
                    "y": 0
                },
                "restore": {
                    "parameters": {
                        "datastore": {
                            "label": "FD & ClickUp Assigned Team Mapping"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "datastore",
                        "type": "datastore",
                        "label": "Data store",
                        "required": true
                    },
                    {
                        "name": "limit",
                        "type": "uinteger",
                        "label": "Limit"
                    },
                    {
                        "name": "continueWhenNoRes",
                        "type": "boolean",
                        "label": "Continue the execution of the route even if the module returns no results"
                    }
                ],
                "expect": [
                    {
                        "name": "filter",
                        "type": "filter",
                        "label": "Filter",
                        "options": "rpc://datastore/1.8.2/RpcGetUDTKeys",
                        "required": true
                    },
                    {
                        "name": "sort",
                        "spec": [
                            {
                                "name": "key",
                                "type": "select",
                                "label": "Key",
                                "dynamic": true,
                                "options": [],
                                "required": true
                            },
                            {
                                "name": "order",
                                "type": "select",
                                "label": "Order",
                                "options": [
                                    {
                                        "label": "Ascending",
                                        "value": 1
                                    },
                                    {
                                        "label": "Descending",
                                        "value": -1
                                    }
                                ],
                                "required": true
                            }
                        ],
                        "type": "array",
                        "label": "Sort"
                    }
                ],
                "interface": [
                    {
                        "name": "key",
                        "type": "text",
                        "label": "Key"
                    },
                    {
                        "name": "data",
                        "spec": [
                            {
                                "name": "FD Assigned Team",
                                "type": "text",
                                "label": null,
                                "default": null,
                                "required": true,
                                "multiline": false
                            },
                            {
                                "name": "ClickUp Assigned Team ID",
                                "type": "number",
                                "label": null,
                                "default": null,
                                "required": false
                            }
                        ],
                        "type": "collection",
                        "label": "Record"
                    }
                ]
            }
        },
        {
            "id": 2,
            "module": "clickup:getATask",
            "version": 2,
            "parameters": {
                "__IMTCONN__": 10432
            },
            "mapper": {
                "task_id": "{{1.custom_fields.cf_clickup_task_id}}",
                "map_or_select": "map"
            },
            "metadata": {
                "designer": {
                    "x": 1200,
                    "y": 0
                },
                "restore": {
                    "expect": {
                        "map_or_select": {
                            "label": "Map"
                        }
                    },
                    "parameters": {
                        "__IMTCONN__": {
                            "data": {
                                "scoped": "true",
                                "connection": "clickup2"
                            },
                            "label": "My ClickUp connection (Wyle Cordero)"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "__IMTCONN__",
                        "type": "account:clickup2",
                        "label": "Connection",
                        "required": true
                    }
                ],
                "expect": [
                    {
                        "name": "map_or_select",
                        "type": "select",
                        "label": "Map or Select",
                        "required": true,
                        "validate": {
                            "enum": [
                                "map",
                                "select"
                            ]
                        }
                    },
                    {
                        "name": "task_id",
                        "type": "text",
                        "label": "Task ID",
                        "required": true
                    }
                ],
                "interface": [
                    {
                        "name": "id",
                        "type": "text",
                        "label": "Task ID"
                    },
                    {
                        "name": "name",
                        "type": "text",
                        "label": "Task Name"
                    },
                    {
                        "name": "text_content",
                        "type": "text",
                        "label": "Text Content"
                    },
                    {
                        "name": "description",
                        "type": "text",
                        "label": "Description"
                    },
                    {
                        "name": "status",
                        "spec": [
                            {
                                "name": "status",
                                "type": "text",
                                "label": "Status"
                            },
                            {
                                "name": "color",
                                "type": "color",
                                "label": "Color"
                            },
                            {
                                "name": "type",
                                "type": "text",
                                "label": "Type"
                            },
                            {
                                "name": "orderindex",
                                "type": "number",
                                "label": "Order Index"
                            }
                        ],
                        "type": "collection",
                        "label": "Status"
                    },
                    {
                        "name": "orderindex",
                        "type": "text",
                        "label": "Order Index"
                    },
                    {
                        "name": "date_created",
                        "type": "date",
                        "label": "Date Created"
                    },
                    {
                        "name": "date_updated",
                        "type": "date",
                        "label": "Date Updated"
                    },
                    {
                        "name": "date_closed",
                        "type": "date",
                        "label": "Date Closed"
                    },
                    {
                        "name": "archived",
                        "type": "boolean",
                        "label": "Archived"
                    },
                    {
                        "name": "creator",
                        "spec": [
                            {
                                "name": "id",
                                "type": "number",
                                "label": "User ID"
                            },
                            {
                                "name": "username",
                                "type": "text",
                                "label": "Username"
                            },
                            {
                                "name": "color",
                                "type": "color",
                                "label": "Color"
                            },
                            {
                                "name": "profilePicture",
                                "type": "text",
                                "label": "Profile Picture"
                            }
                        ],
                        "type": "collection",
                        "label": "Creator"
                    },
                    {
                        "name": "assignees",
                        "spec": {
                            "spec": [
                                {
                                    "name": "id",
                                    "type": "number",
                                    "label": "User ID"
                                },
                                {
                                    "name": "username",
                                    "type": "text",
                                    "label": "Username"
                                },
                                {
                                    "name": "color",
                                    "type": "color",
                                    "label": "Color"
                                },
                                {
                                    "name": "initials",
                                    "type": "text",
                                    "label": "Initials"
                                },
                                {
                                    "name": "profilePicture",
                                    "type": "url",
                                    "label": "Profile Picture"
                                }
                            ],
                            "type": "collection"
                        },
                        "type": "array",
                        "label": "Assignees"
                    },
                    {
                        "name": "checklists",
                        "spec": {
                            "spec": [
                                {
                                    "name": "id",
                                    "type": "text",
                                    "label": "Checklist ID"
                                },
                                {
                                    "name": "task_id",
                                    "type": "text",
                                    "label": "Task ID"
                                },
                                {
                                    "name": "name",
                                    "type": "text",
                                    "label": "Checklist Name"
                                },
                                {
                                    "name": "date_created",
                                    "type": "date",
                                    "label": "Date Created"
                                },
                                {
                                    "name": "orderindex",
                                    "type": "number",
                                    "label": "Order Index"
                                },
                                {
                                    "name": "resolved",
                                    "type": "number",
                                    "label": "Resolved"
                                },
                                {
                                    "name": "unresolved",
                                    "type": "number",
                                    "label": "Unresolved"
                                },
                                {
                                    "name": "items",
                                    "spec": {
                                        "spec": [
                                            {
                                                "name": "id",
                                                "type": "text",
                                                "label": "Checklist Item ID"
                                            },
                                            {
                                                "name": "name",
                                                "type": "text",
                                                "label": "Checklist Item Name"
                                            },
                                            {
                                                "name": "orderindex",
                                                "type": "number",
                                                "label": "Order Index"
                                            },
                                            {
                                                "name": "assignee",
                                                "spec": [
                                                    {
                                                        "name": "id",
                                                        "type": "number",
                                                        "label": "User ID"
                                                    },
                                                    {
                                                        "name": "username",
                                                        "type": "text",
                                                        "label": "Username"
                                                    },
                                                    {
                                                        "name": "email",
                                                        "type": "text",
                                                        "label": "Email"
                                                    },
                                                    {
                                                        "name": "color",
                                                        "type": "color",
                                                        "label": "Color"
                                                    },
                                                    {
                                                        "name": "initials",
                                                        "type": "text",
                                                        "label": "Initials"
                                                    },
                                                    {
                                                        "name": "profilePicture",
                                                        "type": "url",
                                                        "label": "Profile Picture"
                                                    }
                                                ],
                                                "type": "collection",
                                                "label": "Assignee"
                                            },
                                            {
                                                "name": "resolved",
                                                "type": "boolean",
                                                "label": "Resolved"
                                            },
                                            {
                                                "name": "parent",
                                                "type": "text",
                                                "label": "Parent"
                                            },
                                            {
                                                "name": "date_created",
                                                "type": "date",
                                                "label": "Date Created"
                                            },
                                            {
                                                "name": "children",
                                                "spec": {
                                                    "spec": [
                                                        {
                                                            "name": "id",
                                                            "type": "text",
                                                            "label": "Checklist Item ID"
                                                        },
                                                        {
                                                            "name": "name",
                                                            "type": "text",
                                                            "label": "Checklist Item Name"
                                                        },
                                                        {
                                                            "name": "orderindex",
                                                            "type": "number",
                                                            "label": "Order Index"
                                                        },
                                                        {
                                                            "name": "assignee",
                                                            "spec": [
                                                                {
                                                                    "name": "id",
                                                                    "type": "number",
                                                                    "label": "User ID"
                                                                },
                                                                {
                                                                    "name": "username",
                                                                    "type": "text",
                                                                    "label": "Username"
                                                                },
                                                                {
                                                                    "name": "email",
                                                                    "type": "text",
                                                                    "label": "Email"
                                                                },
                                                                {
                                                                    "name": "color",
                                                                    "type": "color",
                                                                    "label": "Color"
                                                                },
                                                                {
                                                                    "name": "initials",
                                                                    "type": "text",
                                                                    "label": "Initials"
                                                                },
                                                                {
                                                                    "name": "profilePicture",
                                                                    "type": "url",
                                                                    "label": "Profile Picture"
                                                                }
                                                            ],
                                                            "type": "collection",
                                                            "label": "Assignee"
                                                        },
                                                        {
                                                            "name": "resolved",
                                                            "type": "boolean",
                                                            "label": "Resolved"
                                                        },
                                                        {
                                                            "name": "parent",
                                                            "type": "text",
                                                            "label": "Parent"
                                                        },
                                                        {
                                                            "name": "date_created",
                                                            "type": "date",
                                                            "label": "Date Created"
                                                        },
                                                        {
                                                            "name": "children",
                                                            "type": "array",
                                                            "label": "Children"
                                                        }
                                                    ],
                                                    "type": "collection"
                                                },
                                                "type": "array",
                                                "label": "Children"
                                            }
                                        ],
                                        "type": "collection"
                                    },
                                    "type": "array",
                                    "label": "Items"
                                }
                            ],
                            "type": "collection"
                        },
                        "type": "array",
                        "label": "Checklists"
                    },
                    {
                        "name": "tags",
                        "spec": {
                            "spec": [
                                {
                                    "name": "name",
                                    "type": "text",
                                    "label": "Name"
                                },
                                {
                                    "name": "tag_fg",
                                    "type": "color",
                                    "label": "Tag Fg"
                                },
                                {
                                    "name": "tag_bg",
                                    "type": "color",
                                    "label": "Tag Bg"
                                }
                            ],
                            "type": "collection"
                        },
                        "type": "array",
                        "label": "Tags"
                    },
                    {
                        "name": "parent",
                        "type": "text",
                        "label": "Parent"
                    },
                    {
                        "name": "priority",
                        "spec": [
                            {
                                "name": "id",
                                "type": "text",
                                "label": "ID"
                            },
                            {
                                "name": "priority",
                                "type": "text",
                                "label": "Priority"
                            },
                            {
                                "name": "color",
                                "type": "color",
                                "label": "Color"
                            },
                            {
                                "name": "orderindex",
                                "type": "text",
                                "label": "Order Index"
                            }
                        ],
                        "type": "collection",
                        "label": "Priority"
                    },
                    {
                        "name": "due_date",
                        "type": "date",
                        "label": "Due Date"
                    },
                    {
                        "name": "start_date",
                        "type": "date",
                        "label": "Start Date"
                    },
                    {
                        "name": "time_estimate",
                        "type": "integer",
                        "label": "Time Estimate (in minutes)"
                    },
                    {
                        "name": "time_spent",
                        "type": "any",
                        "label": "Time Spent"
                    },
                    {
                        "name": "list",
                        "spec": [
                            {
                                "name": "id",
                                "type": "text",
                                "label": "List ID"
                            },
                            {
                                "name": "name",
                                "type": "text",
                                "label": "List Name"
                            },
                            {
                                "name": "access",
                                "type": "boolean",
                                "label": "Access"
                            }
                        ],
                        "type": "collection",
                        "label": "List"
                    },
                    {
                        "name": "project",
                        "spec": [
                            {
                                "name": "id",
                                "type": "text",
                                "label": "Project ID"
                            },
                            {
                                "name": "name",
                                "type": "text",
                                "label": "Project Name"
                            },
                            {
                                "name": "hidden",
                                "type": "boolean",
                                "label": "Hidden"
                            },
                            {
                                "name": "access",
                                "type": "boolean",
                                "label": "Access"
                            }
                        ],
                        "type": "collection",
                        "label": "Project"
                    },
                    {
                        "name": "folder",
                        "spec": [
                            {
                                "name": "id",
                                "type": "text",
                                "label": "Folder ID"
                            },
                            {
                                "name": "name",
                                "type": "text",
                                "label": "Folder Name"
                            },
                            {
                                "name": "hidden",
                                "type": "boolean",
                                "label": "Hidden"
                            },
                            {
                                "name": "access",
                                "type": "boolean",
                                "label": "Access"
                            }
                        ],
                        "type": "collection",
                        "label": "Folder"
                    },
                    {
                        "name": "space",
                        "spec": [
                            {
                                "name": "id",
                                "type": "text",
                                "label": "Space ID"
                            }
                        ],
                        "type": "collection",
                        "label": "Space"
                    },
                    {
                        "name": "custom_fields",
                        "spec": [],
                        "type": "collection",
                        "label": "Custom Fields"
                    },
                    {
                        "name": "dependencies",
                        "spec": {
                            "spec": [
                                {
                                    "name": "task_id",
                                    "type": "text",
                                    "label": "Task ID"
                                },
                                {
                                    "name": "depends_on",
                                    "type": "text",
                                    "label": "Depends On Task ID"
                                },
                                {
                                    "name": "type",
                                    "type": "number",
                                    "label": "Type"
                                },
                                {
                                    "name": "date_created",
                                    "type": "date",
                                    "label": "Date Created"
                                },
                                {
                                    "name": "userid",
                                    "type": "text",
                                    "label": "User ID"
                                }
                            ],
                            "type": "collection"
                        },
                        "type": "array",
                        "label": "Dependencies"
                    },
                    {
                        "name": "team_id",
                        "type": "text",
                        "label": "Workspace ID"
                    },
                    {
                        "name": "url",
                        "type": "url",
                        "label": "URL"
                    },
                    {
                        "name": "attachments",
                        "type": "array",
                        "label": "Attachments"
                    },
                    {
                        "name": "custom_fields_original",
                        "spec": {
                            "spec": [
                                {
                                    "name": "id",
                                    "type": "text",
                                    "label": "ID"
                                },
                                {
                                    "name": "name",
                                    "type": "text",
                                    "label": "Name"
                                },
                                {
                                    "name": "type",
                                    "type": "text",
                                    "label": "Type"
                                },
                                {
                                    "name": "type_config",
                                    "spec": [],
                                    "type": "collection",
                                    "label": "Type Config"
                                },
                                {
                                    "name": "date_created",
                                    "type": "date",
                                    "label": "Date Created"
                                },
                                {
                                    "name": "hide_from_guests",
                                    "type": "boolean",
                                    "label": "Hide From Guests"
                                },
                                {
                                    "name": "value",
                                    "type": "any",
                                    "label": "Value"
                                }
                            ],
                            "type": "collection"
                        },
                        "type": "array",
                        "label": "Custom Fields (original)"
                    }
                ]
            }
        },
        {
            "id": 3,
            "module": "clickup:editATask",
            "version": 2,
            "parameters": {
                "__IMTCONN__": 10432
            },
            "mapper": {
                "name": "[FD-{{1.id}}] {{1.subject}}",
                "status": "{{ifempty(switch(lower(4.data.fd_status_name); \"assigned to product team\"; \"product planning\"; \"resolved\"; \"done\"; \"closed\"; \"done\"; ); 2.status.status)}}",
                "content": "{{2.text_content}}",
                "list_id": "193647157",
                "task_id": "{{2.id}}",
                "team_id": "2332691",
                "due_date": "{{formatDate(1.due_by; \"x\")}}",
                "priority": "{{5.data.clickup_priority_name}}",
                "space_id": "4381811",
                "assignees": {},
                "folder_id": "folderlessList",
                "custom_fields": {
                    "2a8fe333-5429-46ae-9524-4fdb062cf1b7": "{{1.id}}",
                    "5f4db4cd-2ffe-4817-baee-cb7857c0920f": "{{4.data.fd_status_name}}",
                    "62b0b08b-2f5a-49d3-9885-10d6923873ce": "{{6.data.`ClickUp Assigned Team ID`}}",
                    "68cefa1b-d1f8-4b8f-b2a9-4d25989e80c3": "{{formatDate(1.due_by; \"x\")}}",
                    "72a73926-b9cf-4912-8308-13cae5242a13": "https://support.embrace.io/a/tickets/{{1.id}}"
                },
                "addCustomFieldDateTime": false
            },
            "metadata": {
                "designer": {
                    "x": 1500,
                    "y": 0
                },
                "restore": {
                    "expect": {
                        "status": {
                            "mode": "edit"
                        },
                        "list_id": {
                            "label": "Freshdesk Tickets [Tasks: 2]"
                        },
                        "task_id": {
                            "mode": "edit"
                        },
                        "team_id": {
                            "label": "Embrace ClickUp"
                        },
                        "archived": {
                            "mode": "chose"
                        },
                        "priority": {
                            "mode": "edit"
                        },
                        "space_id": {
                            "label": "R&D"
                        },
                        "assignees": {
                            "nested": {
                                "add": {
                                    "mode": "chose"
                                },
                                "rem": {
                                    "mode": "chose"
                                }
                            }
                        },
                        "folder_id": {
                            "label": "<Folderless Lists>"
                        },
                        "notify_all": {
                            "mode": "chose"
                        },
                        "contentType": {
                            "label": "Plain Text"
                        },
                        "custom_fields": {
                            "nested": {
                                "62b0b08b-2f5a-49d3-9885-10d6923873ce": {
                                    "mode": "edit"
                                }
                            }
                        },
                        "due_date_time": {
                            "mode": "chose"
                        },
                        "start_date_time": {
                            "mode": "chose"
                        },
                        "time_estimate_in": {
                            "label": "Empty"
                        }
                    },
                    "parameters": {
                        "__IMTCONN__": {
                            "data": {
                                "scoped": "true",
                                "connection": "clickup2"
                            },
                            "label": "My ClickUp connection (Wyle Cordero)"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "__IMTCONN__",
                        "type": "account:clickup2",
                        "label": "Connection",
                        "required": true
                    }
                ],
                "expect": [
                    {
                        "name": "team_id",
                        "type": "select",
                        "label": "Workspace",
                        "required": true
                    },
                    {
                        "name": "space_id",
                        "type": "select",
                        "label": "Space",
                        "required": true
                    },
                    {
                        "name": "folder_id",
                        "type": "select",
                        "label": "Folder",
                        "required": true
                    },
                    {
                        "name": "list_id",
                        "type": "select",
                        "label": "List",
                        "required": true
                    },
                    {
                        "name": "task_id",
                        "type": "select",
                        "label": "Task ID",
                        "required": true
                    },
                    {
                        "name": "name",
                        "type": "text",
                        "label": "Task Name"
                    },
                    {
                        "name": "contentType",
                        "type": "select",
                        "label": "Content Type",
                        "validate": {
                            "enum": [
                                "markdown"
                            ]
                        }
                    },
                    {
                        "name": "content",
                        "type": "text",
                        "label": "Content"
                    },
                    {
                        "name": "assignees",
                        "spec": [
                            {
                                "name": "add",
                                "type": "select",
                                "label": "Add",
                                "multiple": true
                            },
                            {
                                "name": "rem",
                                "type": "select",
                                "label": "Remove",
                                "multiple": true
                            }
                        ],
                        "type": "collection",
                        "label": "Assignees"
                    },
                    {
                        "name": "status",
                        "type": "select",
                        "label": "Status"
                    },
                    {
                        "name": "priority",
                        "type": "select",
                        "label": "Priority",
                        "validate": {
                            "enum": [
                                "urgent",
                                "high",
                                "normal",
                                "low",
                                "none"
                            ]
                        }
                    },
                    {
                        "name": "due_date",
                        "type": "date",
                        "label": "Due Date"
                    },
                    {
                        "name": "due_date_time",
                        "type": "boolean",
                        "label": "Due Date Time"
                    },
                    {
                        "name": "time_estimate_in",
                        "type": "select",
                        "label": "Estimated Time in",
                        "validate": {
                            "enum": [
                                "m",
                                "h",
                                "d"
                            ]
                        }
                    },
                    {
                        "name": "start_date",
                        "type": "date",
                        "label": "Start Date"
                    },
                    {
                        "name": "start_date_time",
                        "type": "boolean",
                        "label": "Start Date Time"
                    },
                    {
                        "name": "notify_all",
                        "type": "boolean",
                        "label": "Notify All"
                    },
                    {
                        "name": "archived",
                        "type": "boolean",
                        "label": "Archived"
                    },
                    {
                        "name": "custom_fields",
                        "spec": [
                            {
                                "name": "2a8fe333-5429-46ae-9524-4fdb062cf1b7",
                                "type": "text",
                                "label": "FD Ticket ID"
                            },
                            {
                                "name": "5f4db4cd-2ffe-4817-baee-cb7857c0920f",
                                "type": "text",
                                "label": "Fresdesk Status"
                            },
                            {
                                "name": "62b0b08b-2f5a-49d3-9885-10d6923873ce",
                                "type": "select",
                                "label": "Assigned Team"
                            },
                            {
                                "name": "68cefa1b-d1f8-4b8f-b2a9-4d25989e80c3",
                                "type": "date",
                                "label": "SLA Due Date"
                            },
                            {
                                "name": "72a73926-b9cf-4912-8308-13cae5242a13",
                                "type": "text",
                                "label": "FreshDesk URL"
                            }
                        ],
                        "type": "collection",
                        "label": "Custom Fields"
                    },
                    {
                        "name": "addCustomFieldDateTime",
                        "type": "boolean",
                        "label": "Include a Time in Custom Field Date Parameters",
                        "required": true
                    }
                ],
                "interface": [
                    {
                        "name": "id",
                        "type": "text",
                        "label": "Task ID"
                    },
                    {
                        "name": "name",
                        "type": "text",
                        "label": "Task Name"
                    },
                    {
                        "name": "text_content",
                        "type": "text",
                        "label": "Text Contet"
                    },
                    {
                        "name": "description",
                        "type": "text",
                        "label": "Description"
                    },
                    {
                        "name": "status",
                        "spec": [
                            {
                                "name": "status",
                                "type": "text",
                                "label": "Status"
                            },
                            {
                                "name": "color",
                                "type": "color",
                                "label": "Color"
                            },
                            {
                                "name": "type",
                                "type": "text",
                                "label": "Type"
                            },
                            {
                                "name": "orderindex",
                                "type": "number",
                                "label": "Order Index"
                            }
                        ],
                        "type": "collection",
                        "label": "Status"
                    },
                    {
                        "name": "orderindex",
                        "type": "text",
                        "label": "Order Index"
                    },
                    {
                        "name": "date_created",
                        "type": "date",
                        "label": "Date Created"
                    },
                    {
                        "name": "date_updated",
                        "type": "date",
                        "label": "Date Updated"
                    },
                    {
                        "name": "date_closed",
                        "type": "date",
                        "label": "Date Closed"
                    },
                    {
                        "name": "archived",
                        "type": "boolean",
                        "label": "Archived"
                    },
                    {
                        "name": "creator",
                        "spec": [
                            {
                                "name": "id",
                                "type": "number",
                                "label": "User ID"
                            },
                            {
                                "name": "username",
                                "type": "text",
                                "label": "Username"
                            },
                            {
                                "name": "color",
                                "type": "color",
                                "label": "Color"
                            },
                            {
                                "name": "profilePicture",
                                "type": "text",
                                "label": "Profile Picture"
                            }
                        ],
                        "type": "collection",
                        "label": "Creator"
                    },
                    {
                        "name": "assignees",
                        "spec": {
                            "spec": [
                                {
                                    "name": "id",
                                    "type": "number",
                                    "label": "User ID"
                                },
                                {
                                    "name": "username",
                                    "type": "text",
                                    "label": "Username"
                                },
                                {
                                    "name": "color",
                                    "type": "color",
                                    "label": "Color"
                                },
                                {
                                    "name": "initials",
                                    "type": "text",
                                    "label": "Initials"
                                },
                                {
                                    "name": "profilePicture",
                                    "type": "url",
                                    "label": "Profile Picture"
                                }
                            ],
                            "type": "collection"
                        },
                        "type": "array",
                        "label": "Assignees"
                    },
                    {
                        "name": "checklists",
                        "type": "array",
                        "label": "Checklists"
                    },
                    {
                        "name": "tags",
                        "spec": {
                            "spec": [
                                {
                                    "name": "name",
                                    "type": "text",
                                    "label": "Name"
                                },
                                {
                                    "name": "tag_fg",
                                    "type": "color",
                                    "label": "Tag Fg"
                                },
                                {
                                    "name": "tag_bg",
                                    "type": "color",
                                    "label": "Tag Bg"
                                }
                            ],
                            "type": "collection"
                        },
                        "type": "array",
                        "label": "Tags"
                    },
                    {
                        "name": "parent",
                        "type": "text",
                        "label": "Parent"
                    },
                    {
                        "name": "priority",
                        "spec": [
                            {
                                "name": "id",
                                "type": "text",
                                "label": "ID"
                            },
                            {
                                "name": "priority",
                                "type": "text",
                                "label": "Priority"
                            },
                            {
                                "name": "color",
                                "type": "color",
                                "label": "Color"
                            },
                            {
                                "name": "orderindex",
                                "type": "text",
                                "label": "Order Index"
                            }
                        ],
                        "type": "collection",
                        "label": "Priority"
                    },
                    {
                        "name": "due_date",
                        "type": "date",
                        "label": "Due Date"
                    },
                    {
                        "name": "start_date",
                        "type": "date",
                        "label": "Start Date"
                    },
                    {
                        "name": "time_estimate",
                        "type": "integer",
                        "label": "Time Estimate (in minutes)"
                    },
                    {
                        "name": "time_spent",
                        "type": "text",
                        "label": "Time Spent"
                    },
                    {
                        "name": "list",
                        "spec": [
                            {
                                "name": "id",
                                "type": "text",
                                "label": "List ID"
                            },
                            {
                                "name": "name",
                                "type": "text",
                                "label": "List Name"
                            },
                            {
                                "name": "access",
                                "type": "boolean",
                                "label": "Access"
                            }
                        ],
                        "type": "collection",
                        "label": "List"
                    },
                    {
                        "name": "project",
                        "spec": [
                            {
                                "name": "id",
                                "type": "text",
                                "label": "Project ID"
                            },
                            {
                                "name": "name",
                                "type": "text",
                                "label": "Project Name"
                            },
                            {
                                "name": "hidden",
                                "type": "boolean",
                                "label": "Hidden"
                            },
                            {
                                "name": "access",
                                "type": "boolean",
                                "label": "Access"
                            }
                        ],
                        "type": "collection",
                        "label": "Project"
                    },
                    {
                        "name": "folder",
                        "spec": [
                            {
                                "name": "id",
                                "type": "text",
                                "label": "Folder ID"
                            },
                            {
                                "name": "name",
                                "type": "text",
                                "label": "Folder Name"
                            },
                            {
                                "name": "hidden",
                                "type": "boolean",
                                "label": "Hidden"
                            },
                            {
                                "name": "access",
                                "type": "boolean",
                                "label": "Access"
                            }
                        ],
                        "type": "collection",
                        "label": "Folder"
                    },
                    {
                        "name": "space",
                        "spec": [
                            {
                                "name": "id",
                                "type": "text",
                                "label": "Space ID"
                            }
                        ],
                        "type": "collection",
                        "label": "Space"
                    },
                    {
                        "name": "custom_fields",
                        "spec": [
                            {
                                "name": "FD Ticket ID",
                                "type": "any",
                                "label": "FD Ticket ID"
                            },
                            {
                                "name": "Fresdesk Status",
                                "type": "any",
                                "label": "Fresdesk Status"
                            },
                            {
                                "name": "Assigned Team",
                                "type": "number",
                                "label": "Assigned Team"
                            },
                            {
                                "name": "SLA Due Date",
                                "type": "date",
                                "label": "SLA Due Date"
                            },
                            {
                                "name": "FreshDesk URL",
                                "type": "text",
                                "label": "FreshDesk URL"
                            }
                        ],
                        "type": "collection",
                        "label": "Custom Fields"
                    },
                    {
                        "name": "dependencies",
                        "spec": {
                            "spec": [
                                {
                                    "name": "task_id",
                                    "type": "text",
                                    "label": "Task ID"
                                },
                                {
                                    "name": "depends_on",
                                    "type": "text",
                                    "label": "Depends On Task ID"
                                },
                                {
                                    "name": "type",
                                    "type": "number",
                                    "label": "Type"
                                },
                                {
                                    "name": "date_created",
                                    "type": "date",
                                    "label": "Date Created"
                                },
                                {
                                    "name": "userid",
                                    "type": "text",
                                    "label": "User ID"
                                }
                            ],
                            "type": "collection"
                        },
                        "type": "array",
                        "label": "Dependencies"
                    },
                    {
                        "name": "team_id",
                        "type": "text",
                        "label": "Workspace ID"
                    },
                    {
                        "name": "url",
                        "type": "url",
                        "label": "URL"
                    },
                    {
                        "name": "attachments",
                        "type": "array",
                        "label": "Attachments"
                    },
                    {
                        "name": "custom_fields_original",
                        "spec": {
                            "spec": [
                                {
                                    "name": "id",
                                    "type": "text",
                                    "label": "ID"
                                },
                                {
                                    "name": "name",
                                    "type": "text",
                                    "label": "Name"
                                },
                                {
                                    "name": "type",
                                    "type": "text",
                                    "label": "Type"
                                },
                                {
                                    "name": "type_config",
                                    "spec": [],
                                    "type": "collection",
                                    "label": "Type Config"
                                },
                                {
                                    "name": "date_created",
                                    "type": "date",
                                    "label": "Date Created"
                                },
                                {
                                    "name": "hide_from_guests",
                                    "type": "boolean",
                                    "label": "Hide From Guests"
                                },
                                {
                                    "name": "value",
                                    "type": "any",
                                    "label": "Value"
                                }
                            ],
                            "type": "collection"
                        },
                        "type": "array",
                        "label": "Custom Fields (original)"
                    }
                ]
            }
        }
    ],
    "metadata": {
        "instant": false,
        "version": 1,
        "scenario": {
            "roundtrips": 1,
            "maxErrors": 3,
            "autoCommit": true,
            "autoCommitTriggerLast": true,
            "sequential": false,
            "confidential": false,
            "dataloss": false,
            "dlq": false
        },
        "designer": {
            "orphans": []
        },
        "zone": "us1.make.com"
    },
    "io": {
        "input_spec": [],
        "output_spec": []
    }
}